<div *ngIf="pages.length" class="pagination">
  <span
    class="pagination__previous--button btn"
    [ngClass]="{ disabled: _config.currentPage - 1 < 1 }"
    (click)="previous()"
    ><</span
  >
  <ul class="pagination__items">
    <li
      *ngFor="let page of visible"
      [ngClass]="{ active: page === _config.currentPage }"
      class="pagination__item btn"
      (click)="selectPage(page)"
    >
      {{ page }}
    </li>
  </ul>
  <span
    class="pagination__next--button btn"
    [ngClass]="{ disabled: _config.currentPage + 1 > pages.length }"
    (click)="next()"
    >></span
  >
</div>
