* {
  box-sizing: border-box;
}
.pagination {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
}
.pagination__items {
  list-style: none;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0;
}

.pagination__item {
  display: inline-block;
  padding: 0 10px;
  border: 2px solid #800080;
  margin: 0 2px;
}

.btn {
  cursor: pointer;
  user-select: none;
  &:hover {
    font-weight: bold;
  }
}

.active {
  background: rgba($color: #800080, $alpha: 0.6);
}

.disabled {
  color: #8a8a8a;
  &:hover {
    font-weight: normal;
    cursor: default;
  }
}
